<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>
        Document Type
    </h4>
    <hr>
    <dl>
        <dt>
            Name
        </dt>
    </dl>
</div>